@model List<Demo>
@{
    ViewData["Title"] = "Add Demo";
}
<div class="container mt-3">
    <a class="btn btn-primary" asp-action="DemoAdd" asp-controller="Home">Create Demo</a>
    <hr />
    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Summary</th>
                            <td>Description</td>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>
                                    <img src="~/img/@item.Image" width="100" />
                                </td>
                                <td>@item.Title</td>
                                <td>@item.DateTime</td>
                                <td>@item.ShortDes</td>
                                <td>@Html.Raw(@item.Descrip)</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    There isn't demo publish
                </div>
            }
        </div>
    </div>
</div>