@model PostNextAndLastDTO
@{
    ViewData["Title"] = "Post Detail";
}
<div class="row">
    <div class="col-sm-8">
        <div class="mainheading">
            <div class="after-post-tags">
                <ul class="tags">
                    <shadow> Tags || </shadow>
                    @foreach (var tag in Model.Post.PostTags)
                    {
                        <li>
                            <a asp-action="Details" asp-controller="Tag" asp-route-id="@tag.TagId">@tag.Tag.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <h1 class="posttitle">@Model.Post.Title</h1>
        </div>
        <img class="featured-image img-fluid" src="~/img/@Model.Post.Thumbnail" alt="@Model.Post.Title">
        @foreach (var item in Model.Post.Contents)
        {
            <div class="article-post">@item.Text<div class="clearfix"></div></div>
            @if (item.Image !=null)
            {
                <img class="featured-image img-fluid" src="/img/@item.Image" />
            }
            
            @*@if (item.Text != null)
            {
                <div class="article-post">@item.Text<div class="clearfix"></div></div>
            }
            else
            {
                <img class="featured-image img-fluid" src="/img/@item.Image" />
            }*@
        }
        @*@foreach (var item in Model.Contents)
        {
            @if (item.Contains("png") || item.Contains("jpg"))
            {
                <img class="featured-image img-fluid" src="/img/@item" />
            }
            else
            {
                <div class="article-post">@item<div class="clearfix"></div></div>
            }
        }*@
        <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="@Model.Post.PublishDate">@Model.Post.PublishDate</time></span>
            </small>
        </p>
        <div class="row PageNavigation mt-4 prevnextlinks">
            <div class="col-md-6 rightborder pl-0">
                @if (Model.PostLast != null)
                {
                    <a class="thepostlink" asp-action="Details" asp-controller="Post" asp-route-id="@Model.PostLast.Id">« @Model.PostLast.Title</a>
                }
            </div>
            <div class="col-md-6 text-right pr-0">
                @if (Model.PostNext != null)
                {
                    <a class="thepostlink" asp-action="Details" asp-controller="Post" asp-route-id="@Model.PostNext.Id">@Model.PostNext.Title »</a>

                }
            </div>
        </div>
    </div>
</div>